<% layout('layout/boilerplate.ejs') %>
    <h1>All Destinations are here!</h1>
    <% for(i=0;i<allDest.length;i++){ %> 
    <h2><%= allDest[i].name%> </h2>
    <h3><%= allDest[i].location %> </h3>
    <a href="/destination/<%=allDest[i].id%>"><button>Detail</button></a>
    <hr>
    <% } %> 
