<% layout('layout/boilerplate.ejs') %>
<link type="text/css" rel="stylesheet" href="/css/newFormStyle.css">

<div class="col-sm-12 col-md-12 col-lg-12 offset-lg-3 mt-5 mb-5">
  <div class="card" style="width: 36rem;">
    <img class="card-img-top" src="https://res.cloudinary.com/djgjwxdih/image/upload/v1647336113/ExploreAmerica/Onay_Beach_govbh2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Create a new Destination!</h5>
      <form action="/destination/new" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
        <label class="form-label" for="nameNew">Name </label>
        <input class="form-control" type="text" id="nameNew" name="name" placeholder="Name of Destination" required>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a name for your destination
          </div>
        </div>
        <div class="mb-3">
        <label class="form-label" for="priceNew">Price </label>
        <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend">$</span>
        </div>  
        <input class="form-control" type="number" id="priceNew" name="price" placeholder="Price" required>
        <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            Please enter a price. Enter 0 if destination is free
          </div>
        </div></div>
        <div class="mb-3">
        <label class="form-label" for="descNew">Description </label>
        <textarea class="form-control" id="descNew" name="description" rows="7" cols="50" required placeholder="Share your thoughts about this destination!"></textarea>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a description
          </div>
    </div>
    <div class="mb-3"></div>
        <label class="form-label" for="locationNew">Location</label>
        <input class="form-control" type="text" id="locationNew" name="location" placeholder="City, State (e.g. Big Bear, California)" required>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a location
          </div>
          <br>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile" name="image" multiple required>
            <label class="custom-file-label" for="validatedCustomFile">Choose Image... (required)</label>
            <div class="invalid-feedback">Picture is required</div>
          </div>
        <br>
        <br>
        <button class="btn btn-danger">Add Destination</button>
    </div>
        
    </form>
    </div>
  </div>
  </div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
