@media (max-width: 600px){
    .card {
        max-width: 320px;
    }
    .inputType1{
        max-width:260px;
    }
    .inputType2{
        max-width: 220px;
    }
}

@media (max-width: 330px){
    .card {
        max-width: 230px;
    }
    .inputType1{
        max-width:160px;
    }
    .inputType2{
        max-width: 120px;
    }
}